
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section id="content">

    <div class="g12 nodrop">
        <h1>Web App Admin Dashboard</h1>
        <p>This is a quick overview of some features</p>
    </div>

</section>

