
@{
    ViewBag.Title = "Subscription";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section id="content">

    <div class="g12 nodrop" style="margin-left: 0px;">
        <h1 style="margin-top: 0px;">Subscription</h1>
        <p style="margin-bottom: 5px;">Manage your subscription here!</p>
    </div>


</section>

