
@{
    Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
}



<form id="loginform">
    <fieldset>
        <section>
            <label for="username">Username</label>
            <div><input type="text" id="username" name="username" autofocus value="@ViewBag.UserName"></div>
        </section>
        <section>
            <label for="password">Password <a href="~/Home/ForgetPassword">Forget Password?</a></label>
            <div><input type="password" id="password" name="password" value="@ViewBag.Password"></div>
            <div><input type="checkbox" id="remember" name="remember"><label for="remember" class="checkbox">Remember me</label></div>
        </section>
        <section>
            <div style="text-align: center; margin-left: 5px !important;"><button id="btnSubmit" style="">Sign In</button></div>
        </section>
        <input type="hidden" value="@ViewBag.ReturnUrl" id="hdnReturnUrl" />
    </fieldset>
</form>

<script>
    $(document).ready(function () {
        var alertBox;
        $("#btnSubmit").on('click', function () {
            if (alertBox != null)
            {
                $(alertBox).wl_Alert('close');
            }
            var username = $("#username").val();
            var password = $("#password").val();
            var returnUrl = $("#hdnReturnUrl").val();
            var rememberMe = $("#remember").is(":checked");

            if (username == "")
            {
                alertBox = $.wl_Alert("User Name is Required", 'warning', '#content');
                $("#username").focus();
                return false;
            }
            if (password == "") {
                alertBox = $.wl_Alert("Password is Required", 'warning', '#content');
                $("#password").focus();
                return false;
            }
            $.ajax({
                url: '/Home/Login',
                type: 'POST',
                cache: false,
                dataType: 'json',
                data: { userName: username, password: password, rememberMe: rememberMe, returnUrl: returnUrl }
            }).done(function (result) {
                if (result.Code == '1') {
                    alertBox = $.wl_Alert(result.Message, 'success', '#content');
                    setTimeout(function () {
                        window.location = '/Home/Dashboard';
                    }, 1500);
                }
                else {
                    alertBox = $.wl_Alert(result.Message, 'warning', '#content');
                }
                });
            return false;
        });
    });
</script>

