
@{
    Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
    ViewBag.FormTitle = "Reset Password";
}

<form id="resetpasswordform">
    <fieldset>
        <section>
            <label for="password">New Password</label>
            <div><input type="password" id="newpassword" name="password"></div>
        </section>
        <section>
            <label for="password">Confirm Password</label>
            <div><input type="password" id="confirmpassword" name="password"></div>
        </section>
        <section>
            <div><button class="submit" id="btnSubmit">Submit</button></div>
        </section>
        <input type="hidden" value="@ViewBag.ResetCode" id="hdnResetCode" />
    </fieldset>
</form>

<script>
    $(document).ready(function () {
        var alertBox;
        $("#btnSubmit").on('click', function () {

            //Regex source
            //https://stackoverflow.com/questions/19605150/regex-for-password-must-contain-at-least-eight-characters-at-least-one-number-a

            var preg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d$@@$!%*?&]{8,}/;
            if (alertBox != null) {
                $(alertBox).wl_Alert('close');
            }
            var newpassword = $("#newpassword").val();
            var confirmpassword = $("#confirmpassword").val();
            var resetcode = $("#hdnResetCode").val();
            if (newpassword == "") {
                alertBox = $.wl_Alert("New Password is Required", 'warning', '#content');
                $("#newpassword").focus();
                return false;
            }
            if (confirmpassword == "") {
                alertBox = $.wl_Alert("Confirm Password is Required", 'warning', '#content');
                $("#confirmpassword").focus();
                return false;
            }
            if (confirmpassword != newpassword) {
                alertBox = $.wl_Alert("Password does not match!", 'warning', '#content');
                $("#confirmpassword").focus();
                return false;
            }
            if (!preg.test(newpassword)) {
                alertBox = $.wl_Alert("Password must contain minimum eight characters, at least one uppercase letter, one lowercase letter and one number!", 'warning', '#content');
                $("#newpassword").focus();
                return false;
            }
            $.ajax({
                url: '/Home/ResetPassword',
                type: 'POST',
                cache: false,
                data: { password: newpassword, resetCode: resetcode }
            }).done(function (result) {
                if (result.Code == "1") {
                    //alertBox = $.wl_Alert(result.Message, 'success', '#content');
                    setTimeout(function () {
                        window.location = '/Home/Confirmation';
                    }, 1);
                }
                else
                {
                    alertBox = $.wl_Alert(result.Message, 'warning', '#content');
                }
                });
            return false;
        });
    });
</script>

