
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section id="content">

    <div class="g12 nodrop">
        <h1>Employee Dashboard</h1>
        <p>This is a quick overview of some features</p>
    </div>

    <div class="g12" style="margin: auto 0px;" id="divAddTaskDetailsByWeekPeriod">
        @{ Html.RenderPartial("_AddTaskDetailsByWeekPeriodPartial"); }
    </div>

    @{ Html.RenderPartial("_ListTaskDetailsByWeekPeriodPartial"); }

</section>

