@using E2EViewModals.Task
@model TaskDetailsByWeekPeriodViewModal
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section id="content">

    <div class="g12 nodrop" style="margin-left: 0px;">
        <h1 style="margin-top: 0px;">Employee Dashboard</h1>
        <p style="margin-bottom: 5px;">Add, Modify and Review Task Details.</p>
    </div>

    <div class="g12" style="margin: auto 0px;" id="divAddTaskDetailsByWeekPeriod">
        @{ Html.RenderPartial("_AddTaskDetailsByWeekPeriodPartial"); }
    </div>

    @*@{ Html.RenderPartial("_ListTaskDetailsByWeekPeriodPartial"); }*@

</section>

