
<form id="formAddComment" action="/Reviewer/SaveCommentData" method="post" autocomplete="on">

    <input type="hidden" id="CommentID" name="CommentID" value="0" />

    <fieldset>

        <section>
            <label for="CommendDescription">Comment Description</label>
            <div><textarea id="CommendDescription" name="CommendDescription" required class="g12" rows="4"></textarea></div>
        </section>

        <section>
            <div>
                <button class="submit" name="submitbuttonname" value="submitbuttonvalue">Submit</button>
                <button class="reset">Reset</button>
                <button class="btn" name="btncancel" value="btncancel" onclick="$('#divAddComment').hide(); return false;">Cancel</button>
            </div>
        </section>
    </fieldset>
</form>

<script>

    var $content = $('#content');
    $content.find('form').wl_Form({
        onSuccess: function (data, status) {
            var res = JSON.parse(data);
            if (res.Code == "1") {
                $.msg(res.Message);
                $content.find('form').wl_Form('reset');
                $('#divAddComment').hide();
                setTimeout(function () {
                    window.location = "/Reviewer/ManageComments";
                }, 2000);
            }
            else {
                $.msg(res.Message);
            }

        },
        onError: function (status, error, jqXHR) {
            $.msg(res.Message);
        }
    });

    function ResetForm() {
        $content.find('form').wl_Form('reset');
    }

</script>