
@{
    ViewBag.Title = "ManageComments";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section id="content">

    <div class="g12 nodrop" style="margin-left: 0px;">
        <h1 style="margin-top: 0px;">Manage Comments</h1>
        <p style="margin-bottom: 5px;">Add/Edit Comments</p>
    </div>

    <button class="btn" value="btnGoToAddComment" onclick="window.location='/Reviewer/AddComment'; return false;">Add New Comment</button>

</section>

