
@{
    ViewBag.Title = "ManageAdmin";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section id="content">

    <div class="g12 nodrop">
        <h1>Manage Admin</h1>
        <p>List of Admin Users</p>
    </div>

</section>

